  <!-- Top Bar -->
  <div class="top-bar">
    <div class="container top-bar-inner">
      <div class="location-info">
        <span class="location-icon">+</span>
        <span class="location-text">East New Britain, Pomio District, Melkoi LLG</span>
      </div>
      <div class="social-links">
        <a href="https://facebook.com" aria-label="Facebook" target="_blank">f</a>
        <a href="https://instagram.com" aria-label="Instagram" target="_blank">ig</a>
        <a href="https://twitter.com" aria-label="Twitter" target="_blank">x</a>
        <a href="https://linkedin.com" aria-label="LinkedIn" target="_blank">in</a>
      </div>
    </div>
  </div>
